<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns:context="http://www.springframework.org/schema/context">
    <context:property-placeholder location="classpath:application.properties"/>
    <session-factory>
        <property name="connection.url" value="${spring.datasource.url}"/>
        <property name="connection.username" value="${spring.datasource.username}"/>
        <property name="connection.password" value="${spring.datasource.password}"/>
        <property name="hibernate.hbm2ddl.auto" value="${spring.jpa.hibernate.ddl-auto}"/>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="fr.coveat.app.model.State" />
        <mapping class="fr.coveat.app.model.Address" />
        <mapping class="fr.coveat.app.model.Restaurant" />
        <mapping class="fr.coveat.app.model.User" />
        <mapping class="fr.coveat.app.model.Dish" />
        <mapping class="fr.coveat.app.model.Command" />
        <mapping class="fr.coveat.app.model.CommandDetails" />

    </session-factory>
</hibernate-configuration>