<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/coveat?zeroDateTimeBehavior=CONVERT_TO_NULL&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="fr.coveat.app.model.State" />
        <mapping class="fr.coveat.app.model.Address" />
        <mapping class="fr.coveat.app.model.Restaurant" />
        <mapping class="fr.coveat.app.model.User" />
        <mapping class="fr.coveat.app.model.Dish" />
        <mapping class="fr.coveat.app.model.Command" />
        <mapping class="fr.coveat.app.model.CommandDetails" />

    </session-factory>
</hibernate-configuration>