<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{/layout/head :: head}"></div>
<div th:replace="~{/layout/header :: header}"></div>

<body style="color: #2b3245;background: #171a23;">

<main class="container">
    <section class="p-5" style="background: rgba(255,255,255,0.12);border-radius: 20px;padding-bottom: 0px;margin: 140px 70px 30px">
        <div class="d-flex flex-wrap justify-content-beetween">
            <h2 class="col-12 col-lg-6 text-white">Mon panier</h2>
        </div>
        <hr class="mx-0 col-4 border-bottom border-white mb-5">
        <div th:if="!${cartEmpty}">
            <div style="margin-bottom: 50px;" th:each="dish, data : ${cart}" th:remove="tag">
                <div class="row d-flex flex-wrap align-item-center justify-content-between" style="padding:0 0 15px 15px;" th:with="total_line=${dish.price * quantities[data.index]}">
                    <h5 class="col-6 text-white text-capitalize pt-1" th:text="${dish.name}"></h5>
                    <div class="d-flex align-item-center">
                        <a class="btn btn-outline-secondary" th:href="@{/cart/remove/{id}(id=${dish.id})}" style="background:none;border:none;"><ion-icon name="remove" class="pt-1"></ion-icon></i></a>
                        <h5 class="text-center text-white pt-1" th:utext="${quantities[data.index]}"></h5>
                        <a class="btn btn-outline-secondary" th:href="@{/cart/add/{id}(id=${dish.id})}" style="background:none;border:none;"><ion-icon name="add" class="pt-1"></ion-icon></i></a>
                    </div>
                    <div class="d-flex align-item-center col-2 justify-content-end">
                        <h5 class="text-center text-white pt-1"><span th:text="${total_line}"></span> €</h5>
                        <a class="btn btn-outline-danger" th:href="@{/cart/delete/{id}(id=${dish.id})}" style="background:none;border:none;"><ion-icon name="trash" style="font-size:20px"></ion-icon></a>
                    </div>
                </div>
            </div>
            <h4 class="text-center text-white pt-5">Total : <span th:utext="${total}"></span> €</h4>
            <a class="btn btn-danger mt-5" th:href="@{/}" style="width:100%">Commander</a>
        </div>
        <div th:if="${cartEmpty}" class="text-white" style="margin-bottom: 50px;">
            <p class="text-center mt-5" style="font-size:20px">Votre panier est vide</p>
        </div>
    </section>
</main>
<div th:replace="~{/layout/footer :: footer}"></div>
<div th:include="~{/layout/scripts :: scripts}"></div>
</body>

</html>