<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{/layout/head :: head}"></div>
    <div th:replace="~{/layout/header :: header}"></div>

<body style="color: #2b3245;background: #171a23;">
    <main style="margin-top: 152px;">
        <div class="row" style="width: 100%;">
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure"><img class="figure-img" th:src="@{bootstrap/img/ExempleCategory.jpg}" style="width: 200px;border-radius: 19px;filter: brightness(60%);">
                    <figcaption class="figure-caption text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 37px;font-size: 31px;color: rgb(255,255,255);margin-bottom: 0px;padding-bottom: 0px;position: relative;top: -140px;">FAST-FOOD</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure"><img class="figure-img" th:src="@{bootstrap/img/ExempleCategory.jpg}" style="width: 200px;border-radius: 19px;filter: brightness(60%);">
                    <figcaption class="figure-caption text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 37px;font-size: 31px;color: rgb(255,255,255);margin-bottom: 0px;padding-bottom: 0px;position: relative;top: -140px;">FAST-FOOD</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure"><img class="figure-img" th:src="@{bootstrap/img/ExempleCategory.jpg}" style="width: 200px;border-radius: 19px;filter: brightness(60%);">
                    <figcaption class="figure-caption text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 37px;font-size: 31px;color: rgb(255,255,255);margin-bottom: 0px;padding-bottom: 0px;position: relative;top: -140px;">FAST-FOOD</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure"><img class="figure-img" th:src="@{bootstrap/img/ExempleCategory.jpg}" style="width: 200px;border-radius: 19px;filter: brightness(60%);">
                    <figcaption class="figure-caption text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 37px;font-size: 31px;color: rgb(255,255,255);margin-bottom: 0px;padding-bottom: 0px;position: relative;top: -140px;">FAST-FOOD</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;width: 188px;">
                <figure class="figure"><img class="figure-img" th:src="@{bootstrap/img/ExempleCategory.jpg}" style="width: 200px;border-radius: 19px;filter: brightness(60%);">
                    <figcaption class="figure-caption text-center" style="margin-right: 0px;margin-left: 0px;margin-top: 37px;font-size: 31px;color: rgb(255,255,255);margin-bottom: 0px;padding-bottom: 0px;position: relative;top: -140px;">FAST-FOOD</figcaption>
                </figure>
            </div>
        </div>
        <h1 style="color: rgb(255,255,255);padding-left: 29px;margin-top: 13px;margin-bottom: 28px;">RESTAURANTS POPULAIRES</h1>
        <div class="row" style="width: 100%;">
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
        </div>
        <h1 style="color: rgb(255,255,255);padding-left: 29px;margin-top: 70px;margin-bottom: 28px;">RESTAURANTS POPULAIRES</h1>
        <div class="row" style="width: 100%;">
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
        </div>
        <h1 style="color: rgb(255,255,255);padding-left: 29px;margin-top: 70px;margin-bottom: 28px;">RESTAURANTS POPULAIRES</h1>
        <div class="row" style="width: 100%;">
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
            <div class="col d-xl-flex justify-content-xl-center">
                <figure class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;"><img class="img-fluid figure-img" th:src="@{bootstrap/img/burger.jpg}" style="border-radius: 0px;width: 647px;">
                    <figcaption class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);">LA MEUT BURGER -Lyon Terreaux</figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Frais de livraison : 2.50€ • 5-15 minues</figcaption>
                </figure>
            </div>
        </div>
    </main>
        <div th:replace="~{/layout/footer :: footer}"></div>
        <div th:include="~{/layout/scripts :: scripts}"></div>
</body>

</html>