<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{/layout/head :: head}"></div>
    <div th:replace="~{/layout/header :: header}"></div>

<body style="color: #2b3245;background: #171a23;">
    <main class="container" style="margin-top: 152px;">
        <h1 style="color: rgb(255,255,255);padding-left: 29px;margin-top: 13px;margin-bottom: 28px;">Produits</h1>
        <div class="row w-100">
            <div class="col d-flex justify-content-xl-center flex-wrap">
                <figure th:each="dish:${dishes}" class="figure" style="margin-right: 0px;margin-left: 33px;margin-top: 19px;">
                    <img class="img-fluid figure-img" th:src="${dish.imageUrl}" style="border-radius: 0px;width: 300px;">
                    <figcaption th:utext="${dish.name}" class="figure-caption" style="font-size: 26px;color: rgb(255,255,255);"></figcaption>
                    <figcaption class="figure-caption" style="font-size: 17px;color: rgb(255,255,255);">Prix: <span th:utext="${dish.price}"></span></figcaption>
                </figure>
            </div>
        </div>
    </main>
    <div th:replace="~{/layout/footer :: footer}"></div>
    <div th:include="~{/layout/scripts :: scripts}"></div>
</body>

</html>