<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{/layout/head :: head}"></div>
    <body>
    <div th:replace="~{/layout/header :: header}"></div>
        <div class="login-dark" style="background: #171a25;">
            <form th:action="@{/login}" th:object="${loginFormUser}" method="POST" style="background: #2e3240;width: 500px;">
                <h1 style="text-align: center;font-family: Abel, sans-serif;">Connexion</h1>
                <div class="illustration">
                    <i class="icon ion-ios-locked-outline" style="color: #f55959;"></i>
                </div>
                <div class="form-group">
                    <input th:field="*{email}" class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input th:field="*{password}" class="form-control" type="password" name="password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" style="background: #f55959;">Se connecter</button>
                </div>
                <a class="forgot" th:href="@{/register}">Pas encore inscrit ?</a>
            </form>
        </div>
        <div th:replace="~{/layout/footer :: footer}"></div>
        <div th:include="~{/layout/scripts :: scripts}"></div>
    </body>
</html>