<!DOCTYPE html>
<html>
    <jsp:include page="./layout/head.jsp" />

    <body style="color: rgb(36,44,59);background: #171a25;">
        <jsp:include page="./layout/header.jsp" />
        <main class="d-flex justify-content-center" style="height: 50%;">
            <div class="justify-content-center" style="height: 400px;background: #2e3240;color: rgb(255,255,255);margin-top: 110px;width: 800px;border-radius: 7px;">
                <h1 class="m-4" style="border-style: none;border-bottom-width: 1px;border-bottom-style: none;">Mes commandes</h1>
                <hr style="background: #ffffff;width: 488px;margin-right: 285px;">
                <div class="d-flex justify-content-center" style="margin-top: 50px;">
                    <a class="d-flex justify-content-center order" href="#" style="height: 19%;width: 98%;/*background: #171a25;*/">
                        <div style="width: 98%;height: 100%;margin-top: 0px;margin-right: 0px;padding: 10px;">
                            <div class="row" style="width: 100%;">
                                <div class="col">
                                    <h6>Commande °</h6>
                                </div>
                                <div class="col">
                                    <h6>Etat commande :</h6>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 12px;width: 100%;">
                                <div class="col">
                                    <h6>Date :</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <jsp:include page="./layout/footer.jsp" />
        <jsp:include page="./layout/scripts.jsp" />
    </body>

</html>